## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

In [2]:
5+4*9%4/6-1

4.0

In [3]:
5+36%4/6-1

4.0

In [4]:
5+0/6-1

4.0

In [5]:
5+0-1

4

In [6]:
5-1

4

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [7]:
num=int(input('Enter the number:  '))
if num%2==0:
    print('This number is even')
    
else:
        print('This number is odd')

Enter the number:  3
This number is odd

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [8]:
num=int(input('Enter the number that you want for table:  '))
for i in range(1,11):
    print(num,'*',i,'=',num*i)

Enter the number that you want for table:  4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [9]:
i=2000
while i <= 3200:
    if i%7==0 and i%5!=0:
        print(i,end=",")
    i=i+1
    
print('\b. ')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,.

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [10]:
xlist=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
xlist=[type(i) for i in xlist]

int_count=xlist.count(int)
str_count=xlist.count(str)
float_count=xlist.count(float)
bool_count=xlist.count(bool)
none_count=xlist.count(type(None))

print('count of int:',int_count)
print('count of str:',str_count)
print('count of float:',float_count)
print('count of bool:',bool_count)
print('count of none:',none_count)

count of int: 5
count of str: 4
count of float: 1
count of bool: 1
count of none: 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [11]:
x=list(filter(lambda num:True if type(num) in (int,float,bool) else False,[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]))
sum(x)

22.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [12]:
'-'.join(list(filter(lambda char:True if type(char)==str else False,[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] )))

'Py-10-SQL-John'

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [13]:
qlist=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]


def my_func(l1):
    
    
    
    sum_numeric=0
    count_str=0
    
    for i in l1:
        if type(i) in (int,float):
            sum_numeric=sum_numeric+i
        elif type(i)==str:
            count_str=count_str+1
    return {'sum':sum_numeric,'count_of_strs':count_str}

my_func(qlist)

{'sum': 21.5, 'count_of_strs': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [14]:
li=[5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

new_list=[]

for i in li:
    if i%2!=0:
        new_list.append(i)
        
        
new_list

[5, 7, 97, 77, 23, 73, 61]

In [15]:
#2] 

new_list=[i for i in li if i%2!=0]

new_list

[5, 7, 97, 77, 23, 73, 61]

In [16]:
#3] 

new_list=list(filter(lambda i:True if i%2!=0 else False,li))

new_list

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [17]:
def myfun(*variables):
    output = {
         'min_var':min(variables),
         'sum_var':sum(variables),
         'count_var':len(variables),
         'max_var':max(variables),
         'mean_var':sum(variables)/len(variables),
    }
        
    return output

myfun(1,8,45,67,88,99,100,101,115)

{'min_var': 1,
 'sum_var': 624,
 'count_var': 9,
 'max_var': 115,
 'mean_var': 69.33333333333333}

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [18]:
def calculate_area(shape,**dimensions):
    
    area = 0
    
    if shape == 'square':
        
        area=dimensions['side']**2
        
    elif shape == 'rectangle':
        
        area=dimensions['length']*dimensions['width']
        
    elif shape == 'circle':
        
        area=(22/7)*dimensions['radius']**2
        
    else:
        
        return 'Sorry the shape and dimensions that you are inputing not available'
    
    
    return area
        
        
calculate_area('triangle',base=5,height=7)

'Sorry the shape and dimensions that you are inputing not available'

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [19]:

def func(l1,l2):
    
    
    
    output_dict = {
         'matched':set(l1).intersection(set(l2)),
         'only in l1':set(l1).difference(set(l2)),
         'only in l2':set(l2).difference(set(l1)),
    }
        
    return output_dict

l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

func(l1,l2)

{'matched': {'December', 'February', 'January', 'June'},
 'only in l1': {'March', 'May', 'September'},
 'only in l2': {'April', 'October'}}

Q13: write a UDF to check if a number is prime or not.

In [20]:
def is_prime(num):
    
    
    
    is_prime=True
    
    for i in range(2,num):
        if num%2==0:
            is_prime=False
           
    return is_prime  


is_prime(6)

False

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [21]:
user_input=int(input('Enter the value that need to find factorial:  '))

fact=1

i=1

while i<user_input+1:
    fact=fact*i
    i=i+1
    
print('The factorial of',user_input,'is',fact,end='')

Enter the value that need to find factorial:  8
The factorial of 8 is 40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [22]:
n=int(input('Enter the number:  '))
{i:i**2 for i in range(1,n+1)}

Enter the number:  8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [23]:
numbers=input('Enter the sequence of number separated by comma: ')
output_list=numbers.split(',')
output_tuple=tuple(output_list)
print(output_list,output_tuple)

Enter the sequence of number separated by comma: 34,67,55,33,12,98
['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [25]:
words=input('Enter the words with comma separated:  ').split(',')
words.sort()
words

Enter the words with comma separated:  without, hello, bag, world

[' bag', ' hello', ' world', 'without']

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [26]:
words=input('Enter the sequence of whitespace separated words: ').split(' ')
words=list(set(words))
words.sort()
words

Enter the sequence of whitespace separated words: hello world and practice makes perfect and hello world again

['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [27]:
text=input('Enter the sentence:  ')

upper_case=0
lower_case=0

for i in text:
    if i.isupper():
        upper_case+=1
    elif i.islower():
        lower_case+=1
    
    
print(upper_case)
print(lower_case)

Enter the sentence:  Hello world
1
9

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [28]:
input="abcd123"
input[: :-1]

'321dcba'